 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Notre Newsletter</h4>
        </div>
        <div class="col-lg-6">
          <form action="/" method="">
            <input type="email" name="email" placeholder="xyz@exemple.com">
            <input type="submit" value="S'abonner" style="background: #012970;" >
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <img src="/images/logo.png" alt="">
            <span>yKola</span>
          </a>
          <p>Pour apprendre à protéger vos données privées <br> et sensibles, devenez Cyber Citoyen</p>
          <div class="social-links mt-3">
            <a href="https://www.twitter.com/Ykola11" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://facebook.com/ykolaa" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/y.kolaa" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>LIENS UTILES</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Accueil</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#values">Ressources</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#recent-blog-posts">Tendances</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#contact">A propos</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Podcasts</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Videos</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Documents</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Jeux</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Formations</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Avenue de Huilerie<br>
            5042, Gombe<br>
            Kinshasa <br><br>
            <strong>Phone:</strong> +243 857 007 000<br>
            <strong>Email:</strong> ykola.rdc@gmail.com<br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Ykola</span></strong>. All Rights Reserved
    </div>
    
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="background: #012970;"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>